@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: #0b0e11;
}

#link {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.logo{ 
  position: absolute;
  width: 110px;
  height: 146px;
  left: 46px;
  top: 36px;
  cursor: pointer;
  pointer-events: none;
}

.usericon-lkd{
  position: absolute;
  width: 63px;
  height: 66px;
  right: 5vw;
  top: 6.6vh;
  cursor: not-allowed;
}

.usericon{
  position: absolute;
  width: 63px;
  height: 66px;
  right: 5vw;
  top: 6.6vh;
  cursor: pointer;
  border-radius: 50%;
}

.newQRText {
  color: white;
}

.panel{
  position: absolute;
  width: 37.97vw;
  height: 72.25vh;
  left: 29vw;
  top: 20vh;
  background: #151a21;
  box-shadow: 30px 26px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
}

.loginBtn{
  position: absolute;
  width: 18vw;
  height: 18vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fb4f52;
  color: white;
  border-radius: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  outline: none;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
}

.white {
  color: #FFF;
}

#accmenu{
  display: none;
  position: absolute;
  background-color: #151a21;
  width: 10vw;
  height: 9vh;
  right: 5vw;
  top: 15vh;
  border-radius: 30px;
}

#dashboardBtn{
  color: white;
  position: absolute;
  border: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-family: Poppins;
  width: 100%;
  height: 4.5vh;
  /* left: 2.5vw; */
}
#logoutBtn{
  color: white;
  position: absolute;
  border: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  top: 4.5vh;
  height: 4.5vh;
  font-family: Poppins;
  width: 100%; 
  /* color: rgb(255, 72, 0); */
  /* left: 2.5vw; */
}

#logoutBtn:hover{
  background-color: red;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
}

#dashboardBtn:hover{
  background-color: rgb(94, 94, 94);
  color: white;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}

h1{
  font-family: Poppins;
}

.urlInput{
  position: absolute;
  background-color: #1e232b;
  border: none;
  color: white;
  border-radius: 20px;
  width: 90%;
  height: 8vh;
  left: 1vw;
  font-size: 20pt;
  outline: none;
  font-family: Poppins;
  top: 40vh;
  padding-left: 20px;
}

.checkBoxAgreement{
  position: absolute;
  top: 50vh;
  left: 0.1vw;
  width: 5vw;
  height: 5vh;
  outline: none;
}

.agreementText{
  position: absolute;
  top: 50vh;
  left: 5vw;
  font-size: 20pt;
  color: white;
}

.submit{
  position: absolute;
  border: none;
  border-radius: 20px;
  background-color: #fb4f52;
  color:white;
  height: 10vh;
  width: 90%;
  left: 2vw;
  font-size: 20pt;
  font-family: Poppins;
  top: 60vh;
  cursor: pointer;
  outline: none;
}

.download{
  position: absolute;
  border: none;
  border-radius: 20px;
  background-color: #fb4f52;
  height: 10vh;
  width: 90%;
  left: 2vw;
  font-size: 20pt;
  font-family: Poppins;
  top: 42vh;
  cursor: pointer;
  outline: none;
}

/* dashboardlist */

.name{
  display: inline;
}

.codelist{
  margin-top: 2.5vw;
}

.listEntry{
  list-style: none;
  display: block
}

.listEntryContent{
  display: inline-block;
  width: 90%;
  padding: 10px;
  font-family: Poppins;
  text-align: left;
  color: #FFFFFF;
  background-color: #151a21;
  border-radius: 20px;
  margin-top: 10px;
}

.btn-dash {
  display: inline-block;
  background: #fb4f52;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-family: poppins;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 10px;
}

.editMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #241e2b54;
}

.editMenuContent {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

/* END: dashboardlist */

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .agreementText {
    font-size: 15pt;
  }
  .urlInput {
    font-size: 15pt;
  }
  .submit {
    font-size: 15pt;
  }
  .download {
    font-size: 15pt;
  }
  .newQRText {
    font-size: 15pt;
  }
  
  #accmenu {
    width: 20vw;
  }
}

@media screen and (max-width: 768px) {
  .agreementText {
    font-size: 15pt;
    left: 7vw;
  }

  .urlInput {
    width: 85%;
    height: 8vh;
    left: 1vw;
    font-size: 15pt;
  }
}

@media screen and (max-width: 425px) {
  .agreementText {
    font-size: 10pt;
    left: 6vw;
  }
  .urlInput {
    font-size: 10pt;
  }
  .submit {
    font-size: 10pt;
  }
  .download {
    font-size: 10pt;
  }
  .newQRText {
    font-size: 10pt;
  }

  #accmenu {
    width: 25vw;
  }

  .urlInput {
    width: 80%;
    font-size: 10pt;
  }
}

@media screen and (max-height: 820px) {
  #accmenu {
    top: 19vh;
  }
}

/* END: MEDIA QUERIES */